[submodule "spring-7-webapp"]
	path = spring-7-webapp
	url = git@github.com:shabansamani/spring-7-webapp.git
[submodule "spring-7-di"]
	path = spring-7-di
	url = git@github.com:shabansamani/spring-7-di.git
